* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.header-container div {
    display: flex;
    align-items: center;
}

.header-container div p {
    font-family: chilanka !important;
    font-weight: bold;
    color: #A9792B;
}

.header-container div ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: end;
}

.header-container div a {
    text-decoration: none;
    color: #6B7280;
    font-size: 17px;
}

.header-container div img {
    padding: 3px;
    width: 11%;
    height: auto;
    border: 3px solid #A9792B;
    border-radius: 100px;
}

