* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #6B7280;
}

p {
    line-height: 33px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 40px;
}

.header-container div {
    display: flex;
    align-items: center;
}

.header-container div svg {
    color: #374151;
}

.header-container div p {
    font-family: chilanka !important;
    font-weight: bold;
    color: #A9792B;
}

.header-container div ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: end;
}

.header-container div a {
    text-decoration: none;
    color: #6B7280;
    font-size: 17px;
}

.header-container div img {
    padding: 3px;
    width: 11%;
    height: auto;
    border: 3px solid #A9792B;
    border-radius: 100px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.hero-container h1 {
    text-align: center;
    font-size: 65px;
    margin-top: 125px;
    color: #374151;
}

.hero-container h1 span {
    color: #A9792B;
}

.hero-container p {
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
}

.hero-container button {
    padding: 18px 36px;
    font-size: 20px;
    background-color: white;
    color: #374151;
    border: 0.1px solid #cfd3d7;
    border-radius: 10px;
    margin-top: 20px;
}

.path-section {
    text-align: center;
    padding: 80px 0px;
}

.title-description {
    max-width: 60%;
    margin: 0 auto 80px;
}

.title-description h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 200;
    color: #374151;
}

.title-description p {
    font-size: 23px;
}

.steps-path-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.steps-path-section div img {
    max-height: 10rem;
    max-width: auto;
}

.steps-path-section div p, div h3 {
    margin: 20px 0;
}

.steps-path-section div h3 {
    font-size: 25px;
    font-weight: 300;
    color: #374151;
}

.steps-path-section div p {
    font-size: 20px;
    max-width: 350px;
    margin: auto;
}

.curriculum-section {
    background-color: #f3f4f6;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curriculum-section h2 {
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: 100;
    color: #374151;
}

.curriculum {
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    text-align: center;
}

.curriculum div {
    flex: auto;
    background-color: white;
    padding: 50px 35px;
    border: 1px solid white;
    border-radius: 10px;
}

.curriculum div img {
    width: 10rem;
    height: auto;
}

.curriculum div h3 {
    max-width: 175px;
    margin: auto;
    font-size: 25px;
    color: #374151;
    margin-top: 30px;
}

.curriculum-section button {
    padding: 18px 36px;
    font-size: 20px;
    background-color: white;
    color: #374151;
    border: 0.1px solid #cfd3d7;
    border-radius: 10px;
    margin-top: 80px;
}
